.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay-content {
  background-color: #fff;
  width: 20vw;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.head{
    display: flex;
    justify-content: space-between;
}

.Add-input{
  height: 4vh;
  width: 100%;
}

.submit-btn{
  width: 25%;
  height: 4vh;
  background: black;
  color: #fff;
  align-self: center;
}

.date{
  display: flex;
  align-self: center;
}
@media screen and (max-width: 480px) {
  .overlay-content {
      margin: 10px;
      width: 90vw;
    }
    
}